.event-form{
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    max-width: 400px;
    margin: 50px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: arial, sans-serif;


}

.event-form h2{
    margin-top: 0;
    color: #333;
    text-align: center;
}

.event-form input,
.event-form textarea{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

.event-form button{
    padding: 10px 15px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.event-form button.save{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.event-form button.save:hover{
    background-color: #45a049;

}

.event-form button.cancel{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.event-form button.cancel:hover{
    background-color: rgb(255, 255, 255);
}

.event-from button.delete{
    background-color: crimson;
    color: rgb(0, 0, 0);
}
.event-form button.delete:hover{
    background-color: #ff0000;
}

